TIMEZONE=Asia/Beirut

# Create a Connector in the Twingate Admin Console and copy its values here.
TWINGATE_NETWORK=your-twingate-network
TWINGATE_ACCESS_TOKEN=your-twingate-access-token
TWINGATE_REFRESH_TOKEN=your-twingate-refresh-token
TWINGATE_LABEL_HOSTNAME=your-connector-hostname
